flow1
[{"id":"d173a9cb.ca2b68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4c2ebc93.f2e944","type":"rpi-gpio out","z":"d173a9cb.ca2b68","name":"LED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":630,"y":240,"wires":[]},{"id":"2560fc48.eb36c4","type":"debug","z":"d173a9cb.ca2b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":120,"wires":[]},{"id":"9e5c5f83.df628","type":"rpi-gpio in","z":"d173a9cb.ca2b68","name":"Button","pin":"11","intype":"up","debounce":"25","read":true,"x":60,"y":260,"wires":[["6ccba4d4.cd0bac","2560fc48.eb36c4"]]},{"id":"6ccba4d4.cd0bac","type":"switch","z":"d173a9cb.ca2b68","name":"if input is 1 ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":280,"wires":[["9356daf6.9938d8"],["e10332f.9b35bd"]]},{"id":"9356daf6.9938d8","type":"change","z":"d173a9cb.ca2b68","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["4c2ebc93.f2e944"]]},{"id":"e10332f.9b35bd","type":"change","z":"d173a9cb.ca2b68","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":320,"wires":[["4c2ebc93.f2e944"]]}]
