flow2
[{"id":"27fc34ac.2def6c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e0eaf49.1e19508","type":"inject","z":"27fc34ac.2def6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":260,"wires":[["19ee1d02.8283b3"]]},{"id":"19ee1d02.8283b3","type":"function","z":"27fc34ac.2def6c","name":"Payload","func":"msg.headers={\n    deviceKey: \"0dWTwycBUZAxGaI4\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["f7d85be6.09a858","aa0a5cf.141bfa"]]},{"id":"f7d85be6.09a858","type":"http request","z":"27fc34ac.2def6c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D0SCVGKp/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":410,"y":240,"wires":[["ce06c44a.ac5348","3625e1f9.0ddd7e"]]},{"id":"ce06c44a.ac5348","type":"debug","z":"27fc34ac.2def6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":320,"wires":[]},{"id":"aa0a5cf.141bfa","type":"http request","z":"27fc34ac.2def6c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D0SCVGKp/datachannels/Humidity/datapoints.csv","tls":"","proxy":"","authType":"","x":410,"y":320,"wires":[["ce06c44a.ac5348","3625e1f9.0ddd7e"]]},{"id":"3625e1f9.0ddd7e","type":"http response","z":"27fc34ac.2def6c","name":"","statusCode":"","headers":{},"x":620,"y":180,"wires":[]}]
