flow3
[{"id":"5e876dcc.f09354","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f9c0886f.ea45d8","type":"inject","z":"5e876dcc.f09354","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":340,"wires":[["cd7befb3.58344","341a399a.725326"]]},{"id":"cd7befb3.58344","type":"function","z":"5e876dcc.f09354","name":"Payload","func":"\nmsg.headers={\n    deviceKey: \"0dWTwycBUZAxGaI4\"\n    };\nmsg.payload=\"Temperature,,78\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["e3a6098e.f9af28"]]},{"id":"e3a6098e.f9af28","type":"http request","z":"5e876dcc.f09354","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0SCVGKp/datapoints.csv","tls":"","proxy":"","authType":"","x":440,"y":380,"wires":[["ceaa2488.592be8","ff7b1c6b.5e6c1"]]},{"id":"ceaa2488.592be8","type":"http response","z":"5e876dcc.f09354","name":"","statusCode":"","headers":{},"x":600,"y":360,"wires":[]},{"id":"ff7b1c6b.5e6c1","type":"debug","z":"5e876dcc.f09354","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":460,"wires":[]},{"id":"341a399a.725326","type":"function","z":"5e876dcc.f09354","name":"","func":"\nmsg.headers={\n    deviceKey: \"0dWTwycBUZAxGaI4\"\n    };\nmsg.payload=\"Humidity,,77\";\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["e3a6098e.f9af28"]]}]
